body {background: black;
    margin: 0;
    color:#222;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    width: 100%;
}
@font-face {font-family: Geometric Way;
src: url('GeometricWay.ttf');}

h1{font-family: Geometric Way;
font-weight: 500;
color: #FFF;
}
/*color:#C9EEFF;*/

/* Sliding panels */
/*.curtains>li {
    background:#FFF;
     box-shadow:0 0 12px #666; 
}
    .curtains>li:last-child{box-shadow:none}*/



/* Section 1 */

#section-1{
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    display: inherit;
z}

header{
        
        position:absolute;
        margin-top: 5%;
        text-align: center;
        text-shadow: 10px 10px 20px white;
        line-height:1.1;
        width: 100%;}

.earth img {width: 100%; display: none;}

#section-1 h1{
        font-size:120px;
       
    }

#section-1 h2{
        text-transform:capitalize;
        font-size:48px;
    }

/* Section 2 */
#section-2{
    background: black;
    margin: 0;
    height: 100%;
    color: white;
    font-family: helvetica;
    font-size: 50px;
    opacity:.99;
    display: none;
}


#map-continents {float: left; position: fixed; margin-left: 0; opacity: .7;}
#map {margin-left: 7%;}



.sticky {position: fixed; bottom: 0; right: 0; background: black; font: white; z-index: 10; opacity: .8; width: 100%;
font-family: 'Open Sans', sans-serif; font-size: 14px; text-align: right; height: 30px; padding-right: 10px; 
padding-top: 5px; padding-bottom: 0; display: none;
letter-spacing: 1px;
}

.sticky2 {font-family: 'Open Sans', sans-serif; position: fixed; bottom: 0; right: 0; 
background: transparent; z-index: 10; width: 100%; height: 50px;}

.sticky3 {position: fixed; bottom: 0; right: 0; background: black; font: white; z-index: 10; opacity: .8; width: 100%;
font-family: 'Open Sans', sans-serif; font-size: 14px; text-align: right; height: 30px; 
padding-right: 10px; padding-top: 5px; padding-bottom: 0;
letter-spacing: 1px;
}

video { float: left; position: fixed; z-index: -1; width: 100%; display: none;}
audio { float: left; position: fixed; z-index: -1; width: 100%;}

.soundoff {z-index: 999; position: fixed; right: 0; display: none;}
.home, .design, .about, .contact {cursor: pointer;}
.home:hover, .design:hover, .about:hover, .contact:hover, .abt:hover {color: #fc0; text-shadow: 1px 1px 2px #fc0;}
.abt {display: none; padding-right: 60px;}

a, a:visited { /* For links that are in the browser history (Previously visited) */ 
text-decoration: none; 
color: inherit; 
} 


@media (max-width: 800px) {

#section-1 h1{
        font-size: 50px;
        margin-top: 100px;}
header {margin-top: 0px;}
#section-2 {margin-top: 40px;}
video { display: none; position: fixed; z-index: -1; max-height: 100%;}

#map {margin-left: 0;}
.sticky3, .sticky {top: 0; font-size: 12px;}

.m1280{width:430px} .m1280 .continents,.m1280 .continents .bg,.m1280 .continents-cities{background:transparent url('cssmap-continents/continents-430.png') no-repeat 0 0} .m1280 .continents,.m1280 .continents-cities{height:220px;width:430px} .m1280 .continents-cities{background-position:-440px 0} .m1280 .continents .m{margin:10000px 0 0 5px} .m1280 .continents .m span{font-size:26px !important;padding:0 1px 1px 0}
.m1280 .c1.focus .bg,.m1280 .c1.active-region .bg{height:75px;left:171px;top:91px;width:75px}.m1280 .c1.focus .bg{background-position:-204px -433px}.m1280 .c1.active-region .bg{background-position:-644px -433px} .m1280 .c2.focus .bg,.m1280 .c2.active-region .bg{height:133px;left:216px;top:8px;width:141px}.m1280 .c2.focus .bg{background-position:-4px -266px}.m1280 .c2.active-region .bg{background-position:-444px -266px} .m1280 .c3.focus .bg,.m1280 .c3.active-region .bg{height:68px;left:311px;top:115px;width:87px}.m1280 .c3.focus .bg{background-position:-85px -431px}.m1280 .c3.active-region .bg{background-position:-525px -431px} .m1280 .c4.focus .bg,.m1280 .c4.active-region .bg{height:83px;left:168px;top:12px;width:81px}.m1280 .c4.focus .bg{background-position:-310px -425px}.m1280 .c4.active-region .bg{background-position:-750px -425px} .m1280 .c5.focus .bg,.m1280 .c5.active-region .bg{height:118px;left:8px;top:5px;width:175px}.m1280 .c5.focus .bg{background-position:-182px -266px}.m1280 .c5.active-region .bg{background-position:-622px -266px} .m1280 .c6.focus .bg,.m1280 .c6.active-region .bg{height:77px;left:102px;top:117px;width:51px}.m1280 .c6.focus .bg{background-position:-4px -429px}.m1280 .c6.active-region .bg{background-position:-444px -429px}
.m1280 .c1 a{left:225px;top:127px}.m1280 .c1 a.tooltip-right .tooltip-arrow{right:205px} .m1280 .c2 a{left:288px;top:72px}.m1280 .c2 a.tooltip-right .tooltip-arrow{right:142px} .m1280 .c3 a{left:345px;top:166px}.m1280 .c3 a.tooltip-right .tooltip-arrow{right:85px} .m1280 .c4 a{left:218px;top:82px}.m1280 .c4 a.tooltip-left .tooltip-arrow{left:218px} .m1280 .c5 a{left:94px;top:75px}.m1280 .c5 a.tooltip-left .tooltip-arrow{left:94px} .m1280 .c6 a{left:138px;top:151px}.m1280 .c6 a.tooltip-left .tooltip-arrow{left:138px}


